<form method="post" action="/names">
    <label>
        Player 1 name
        <input type="text" value="" name="player1"/>
    </label>
    <label>
        Player 2 name
        <input type="text" value="" name="player2"/>
    </label>

    <input type="submit" value="Submit" />
</form>
