<div class="names">
    <%= @player1 %> vs <%= @player2 %>
</div>

<div class="player1">
    <%= @player1 %>
    "0/60 HP"
    <a href="/attack">Attack</a>
</div>

<div class="player2">
    "0/60 HP"
</div>
